/* Hero Top */
.hero-top {
  font-family: Barlow Semi Condensed, sans-serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.hero-top.scrolled {
  background-color: rgb(35, 93, 113);
  width: 100%;
  justify-content: space-between;
}

/* Hero Top Left */
.hero-top-left {
  width: 45%;
  display: flex;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/* Hero Top Right */
.hero-top-right {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-link {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none; /* remove underline */
  color: white; /* set link color */
  margin: 0 10px;
}

.highlight {
  color: rgb(43, 225, 177);
}

/* Hamburger button (hidden on desktop) */
.hamburger {
  display: none;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .hero-top {
    flex-direction: column;
    max-width: auto;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .hero-top-left h1 {
    font-size: 1.5em;
  }

  .hero-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: block;
    z-index: 11;
  }

  .hero-top-right {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(35, 93, 113);
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 200px;
    display: none; /* Hidden by default */
  }

  .hero-top-right.active {
    display: flex; /* Show when active */
  }

  .hero-link {
    margin: 10px 0;
    font-size: 1em;
  }
}
